.explore-btn {
  display: block;
  width: 278px;
  height: 56px;
  border-radius: 40px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
  background-color: #fff;
  color: #1d1d1d;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.form-user {
  &__input {
    display: block;
    margin: 0 auto 20px;
    width: 278px;
    height: 48px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 40px;
  }

  &__textarea {
    font-family: Poppins;
    display: block;
    margin: 0 auto 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    box-sizing: border-box;
    width: 278px;
    height: 148px;
    padding: 14px 16px 14px 16px;
    gap: 10px;
    border-radius: 16px;
  }
}
